.main-info {
    min-height:50vh;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    .services-imgs {
        padding: 2rem;
        box-shadow: 0 0 30px lightgray;
        margin: 3rem 0;
        width: 80%;
        border-radius: 10px;
        text-align: center;
        min-height: 70%;
        img {
            width:10rem;
        }
        p {
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.2rem;
            color: rgba(0,0,0,.8);       
        }
        h1 {
            font-weight: 500;
            color: darkslateblue;
        }
    }
}


@media handheld, screen and (max-width: 900px) {    
    .main-info {
        grid-template-columns: auto;

        .services-imgs {
            padding: 1rem;
            margin: 1rem 0;
            width: 80%;
            border-radius: 10px;
            text-align: center;
            min-height: 20rem;
        }
    }
}