img#mobile-logo {
    width: 10rem;
    position: absolute;
    top: 3.5rem;
    left: 1.5rem;
}

.marketing {
    padding-top:130px;
    background:linear-gradient(45deg, #5f5fd3, transparent);
    display:grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-column-gap:5rem;
    img {
        width:70%;
        justify-self: flex-end;
    }
    .statement {
        justify-self: flex-start;
        width:60%;
        p {
            font-size: 1.3rem;
            line-height: 35px;
            color: rgba(0,0,43,.8);

        }
        h1 {
            font-weight:400;
            color: rgba(0,0,43,.8);
        }
        button {
            padding: 1.3rem 3rem;
            border-radius: 5px;
            border: none;
            background-color: white;
            font-size: 1.1rem;
            color: darkslateblue;
            font-family: 'Spartan';
            font-weight: 600;
            cursor: pointer;
        }
    }
}

h1#why-heading {
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-weight:400;
    margin:5rem 0;
}

.why {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-column-gap: 3rem;
    margin-bottom: 10rem;
    grid-row-gap: 3rem;
    .feat-item {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 70% auto;
        grid-column-gap: 0rem;
        box-shadow: 0px 0px 30px lightgray;
        padding:5rem;
        border-radius: 5px;
        a {
            width:100%;
        }
        img {
            width: 15rem;
        }
        button {
            padding: 1.3rem 3rem;
            border-radius: 5px;
            border: none;
            background-color: darkslateblue;
            font-size: 1.1rem;
            color: white;
            font-family: 'Spartan';
            font-weight: 600;
            cursor: pointer;
            width: 75%;
        }
    }
    h1 {
        color:rgba(0,0,0,.8);
    }
}
.contact-us {
    border-top: 1rem solid darkslateblue;
    padding: 5rem 0;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    h1 {
        width: 90%;
        text-align: center;
        font-family: sans-serif;
        color:rgba(0,0,0,.7);
        margin:0 auto;
        padding-top:3rem;
    }
}

@media handheld, screen and (max-width: 900px) {    
    .marketing {
        grid-template-columns: auto;
        grid-row-gap: 5rem;
        background:linear-gradient(0deg, #5f5fd3, transparent 50%);
        .statement {
            width:90%;
            justify-self: center;
        }
        img {
            grid-row-start: 2;
            justify-self: center;
            padding-bottom:4rem;
        }
    }
    h1#why-heading {
        margin:3rem 0 0;
    }
    .why {
        display:flex;
        flex-direction: column;
        .feat-item {
            display:flex;
            flex-direction: column;
            width:80%;
            text-align: center;
            margin: 2rem 0;
            padding:1rem;
            img {
                width:10rem;
                margin:1rem 0 2rem;
            }
        }
    }
    .contact-us {
        padding-top:2rem;
        h1 {
            padding-top:0;
        }
    }
}