@import url('https://fonts.googleapis.com/css?family=Spartan|Ubuntu&display=swap');


body {
  margin: 0;
  font-family: 'Ubuntu','Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#fafafa;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

code {
  font-family: 'Ubuntu',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
